body {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: greenyellow;
    text-align: center;
}

header,footer {
    background-color: lightblue;
    color: green;
    padding: 15px;
    margin: 10px;
}

.profile {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid rgb(79, 185, 218);
    background-color: bisque;
    color: black;
}

.profile img {
    border-radius: 100px;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 16px;
}